
html{
    height: 100%;
}



body {
    font-size: 16px;
    font-family: 'Baskerville', serif;
    height: 100%;
    margin: 0;
	background: radial-gradient(white, lightgrey);
    background-repeat:no-repeat;
    background-attachment: fixed;
}

/***main***/
a {
    color:inherit;
    text-decoration: none;
}

a:hover {
    color:none;
    text-decoration: none;
}



div#logo-img {
    position: absolute;
    display: block;
    padding-top: 20px;
    left: 40%;
    margin-left: auto;
    margin-right: auto;
    width:70%;
}

#logo-img img{
    display： block;
    margin： auto;
    width: 30%;
}

.container-fluid{
    padding:0px;
}

div#main-img img{
    width: 100%;
}


div#main-enter {
    margin: auto;
    width: 15%;
    left: -1%;
    margin-top: -32%;
}


div#main-mobile img{
    width:100%;
}



.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.container:hover .image {
  opacity: 0.8;
}


/***main***/

#header-nav {
  background-color: transparent;
  border-radius: 0;
  border: 0;    
}


.sm-header {
    text-align: center;
    font-family: 'Baskerville', serif;
    font-size: 4vw;
    padding-top:12px;
    padding-left: 55px;
}

#nav-list {
  margin-top: 30px;
}
#nav-list a {
  color: black;
  text-align: center;
}

.header-images{
    height:22px;
}

.header-images img{
    position: absolute;
    left:50%;
    margin-left: -17px;
    bottom: 34px;
}
.nav-line{
    z-index: 100000;
    position: absolute;
    top: 82px;
    height: 1px;
    width:100%;
    background: #000;
}

.navbar-custom li{
    float: left;
    width: 14.2%;
}

.container {
    position: relative;
    padding-left: 41px;
    padding-right: 41px;
}

div#workshop {
    padding: 0 30px 0 30px;
}

#cards {
    padding: auto;
}

.left-button {
    top:140px;
    height:200px;
    width:15px;
    position:fixed;
    left:3%;
}

.right-button {
    top:140px;
    height:200px;
    width:15px;
    position:fixed;
    right: 3%;
}


#cards img{
/*    max-height: 450px;*/
    width: 100%;
}


.main-container {
    position: absolute;
}


#card-instr {
    padding: 10px;
    background-color: lightgray;
}




h {
    font-family: 'gill sans', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

h1 {
    font-family: 'gill sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    font-family: 'gill sans', sans-serif;
    font-size: 1.4rem;
}


#assign img{
    width:50%;
    left: 0;
    right: 0;
    float: right;
}

/**scroll**/

#scrolldown a span {
	position: absolute;
	bottom: -10px;
        left: 83%;
	width: 12px;
	height: 12px;
	margin-left: -12px;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb04 1.7s infinite;
	animation: sdb04 1.7s infinite;
	box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-5px, 5px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes sdb04 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-5px, 5px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}


footer {
    position: relative;
    margin-top: 20px;
}

.text {
    font-size: 2.5vw;
    text-align: center;
    padding: none;
    
}

a:hover text{
    text-decoration: none;
}

.foot-line{
    position:absolute;
    margin-top: 15px;
    height: 1px;
    width: 100%;
    clear: both;
    float: left;
    background: black;

}

#footer-logo img{
    width:30%;
    display: block;
    margin: auto;
    position: relative;
    bottom: 26px;
}


/********** Medium devices only **********/
@media (min-width: 992px)  {
  /* Header */

    h{
        font-size: 1.7rem;
    }
    
    p{
        font-size: 1.7rem;
    }
    
    .sm-header {
        display: none;
        }
    
    div#workshop{
    min-height: 370px;
}

    #card-explain {
    overflow: scroll;
    overflow-x: hidden;
    height: 450px;
    overflow-y: auto;
}

      /* Home Page */
    #footer-logo img{
        display: none;
    }
    div#mobile-img {
        display: none;
    }
    
    div#text {
        max-height: 900px;
    }
    

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  

    .sm-header {
        display: none;
        }
    
    div#workshop{
    min-height: 370px;
    }
    
    #card-explain {
    overflow: scroll;
    overflow-x: hidden;
    height: 220px;
    overflow-y: auto;
    }


    #footer-logo img{
        display: none;
        }
    
    div#mobile-img {
        display: none;
    } 
}



/********** Extra small devices only **********/
@media (min-width: 666px) and (max-width: 767px) {
  /* Header */
  .header-images{
    display: none;
  }
    
 /**main**/   
    div#logo-img {
    position: absolute;
    display: block;
    padding-top: 37px;
    left: 35%;
    margin-left: auto;
    margin-right: auto;
    width:70%;
}
    
    #logo-img img{
    display： block;
    margin： auto;
    width: 45%;
}

    
    
    div#main-enter {
    margin: auto;
    width: 25%;
    left: -1%;
    margin-top: -47%;
}
    
    
/**main**/
  .navbar-custom li{
    float:none;
    width: 100%;
  }

  .nav-line{
    display: none;
    }
    
    #card-instr {
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
    #scrolldown {
        display:none;
    }
    
    /**workshop**/
      div#workshop {
        min-height: none;
    }
  
    
    .text {
        display: none;
    }

    .foot-line{
        display: none;
    }
    
    #footer-logo img{
        bottom:105px;
    }
    
}
/*********Super small Device Only********/
@media (max-width: 665px) {
     /* Header */
  .header-images{
    display: none;
  }
    
 /**main**/   
    div#logo-img {
    position: absolute;
    display: block;
    padding-top: 37px;
    left: 35%;
    margin-left: auto;
    margin-right: auto;
    width:70%;
}
    
    #logo-img img{
    display： block;
    margin： auto;
    width: 45%;
}
    
    div#main-enter {
    margin: auto;
    width: 25%;
    left: -1%;
    margin-top: -47%;
}
    
    
/**main**/
  .navbar-custom li{
    float:none;
    width: 100%;
  }
    
    #nav-list a {
        padding-left:80px;
    }

  .nav-line{
    display: none;
    }

    .left-button {
        top:70px;
  
    }
    
    .right-button {
        top:70px;
    }
    
    #cards {
       padding: 0 20px 0 20px; 
    }
    
    #card-instr {
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
    #scrolldown {
    display:none;
    }
    
    #footer-logo img{
    bottom:5px;
    }
  
    
    .text {
        display: none;
    }

    .foot-line{
        display: none;
    }
    
}
